@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
* {
  padding: 0%;
  margin: 0;
  font-family: 'Dancing Script', cursive; }

h1 .galeria {
  color: #FF2E00; }

h1 .paseo {
  color: #5C946E; }

h1 .colonial {
  color: #2b303a; }

body {
  background: #e48909;
  background: linear-gradient(90deg, #e48909 0%, #edbe1e 50%, #e48909 100%); }

.cabeza {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #2b303a;
  -webkit-box-shadow: -1px 15px 40px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 15px 40px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 15px 40px -10px rgba(0, 0, 0, 0.75); }
  .cabeza:hover {
    background-image: url(../imagenes/fondoheader.jpg); }
  .cabeza .navegador {
    grid-column-start: 1;
    grid-column-end: 13;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .cabeza .navegador .link-logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .cabeza .navegador .link-logo .img-logo {
        margin: 20px 20px;
        width: 50%; }
    .cabeza .navegador ul {
      margin: 15px 20px; }
      .cabeza .navegador ul li {
        display: inline-block;
        margin: 10px 20px;
        font-size: 1.4rem;
        list-style: none;
        position: relative; }
        .cabeza .navegador ul li::before {
          content: "";
          background: #FED766;
          height: 3px;
          width: 0%;
          position: absolute;
          left: 0%;
          bottom: -12px;
          transition: 0.3s ease-out; }
        .cabeza .navegador ul li:hover::before {
          width: 100%; }
        .cabeza .navegador ul li a {
          text-decoration: none;
          color: yellow; }

@media screen and (max-width: 768px) {
  .cabeza .navegador {
    justify-content: center; }
  .cabeza .navegador .link-logo .img-logo {
    width: 75%; }
  .cabeza .navegador ul li {
    font-size: 20px;
    display: block; } }

@media screen and (max-width: 375px) {
  .cabeza .navegador .link-logo .img-logo {
    margin-left: 60px;
    width: 90%; }
  .cabeza .navegador ul li {
    font-size: 1em; } }

footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* background-color: #2B303A; */
  background-color: #36393B; }
  footer .volver-arriba {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; }
    footer .volver-arriba .link-hover {
      text-decoration: none;
      color: #ff8c42; }
      footer .volver-arriba .link-hover:hover {
        transform: scale(1.3);
        transition: .2s; }
  footer .footer-felipe {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center; }
    footer .footer-felipe .pagcreada {
      color: #ffd57d; }
    footer .footer-felipe .link-hover {
      text-decoration: none;
      color: #ff8c42; }
  footer .footer-redes {
    grid-column: 10/13;
    grid-row: 1/2;
    width: 100%;
    font-size: 20px; }
    footer .footer-redes .seguinos {
      text-align: center;
      color: #ffd57d; }
    footer .footer-redes .footer-imgs {
      display: flex;
      justify-content: space-evenly; }
      footer .footer-redes .footer-imgs .insta {
        width: 30px; }
        footer .footer-redes .footer-imgs .insta:hover {
          transform: rotate3d(1, 1, 1, 360deg);
          -webkit-transform: rotate3d(1, 1, 1, 360deg);
          transition: 1s; }
      footer .footer-redes .footer-imgs .whats {
        width: 30px; }
        footer .footer-redes .footer-imgs .whats:hover {
          transform: rotate3d(1, 1, 1, 360deg);
          -webkit-transform: rotate3d(1, 1, 1, 360deg);
          transition: 1s; }
      footer .footer-redes .footer-imgs .face {
        width: 30px; }
        footer .footer-redes .footer-imgs .face:hover {
          transform: rotate3d(1, 1, 1, 360deg);
          -webkit-transform: rotate3d(1, 1, 1, 360deg);
          transition: 1s; }

@media screen and (max-width: 768px) {
  footer .volver-arriba {
    grid-column: 1/5;
    grid-row: 1/2;
    display: none; }
  footer .footer-felipe {
    grid-column: 5/10;
    grid-row: 2/3; }
  footer .footer-redes {
    grid-column: 5/10;
    grid-row: 1/2;
    width: 100%;
    font-size: 1em; } }

/* Algo de Historia... */
.contenedor-pasillo {
  background-image: url(../imagenes/fondoheader.jpg);
  background-position: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .contenedor-pasillo .contenedor-imgpasillo {
    grid-column: 1/5;
    grid-row: 1/2; }
    .contenedor-pasillo .contenedor-imgpasillo .pasillo .img-pasillo {
      border-radius: 10px;
      opacity: .9; }
      .contenedor-pasillo .contenedor-imgpasillo .pasillo .img-pasillo:hover {
        transform: scale(1.1);
        transition: .9s; }
  .contenedor-pasillo .contenedor-parrafo {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-column: 6/12;
    grid-row: 1/2; }
    .contenedor-pasillo .contenedor-parrafo .parrafo {
      font-size: 1.7em;
      color: whitesmoke; }
      .contenedor-pasillo .contenedor-parrafo .parrafo .lh-base {
        font-family: Arial, Helvetica, sans-serif; }
    .contenedor-pasillo .contenedor-parrafo .contenedor-boton {
      font-size: 1.9em;
      color: yellow; }
      .contenedor-pasillo .contenedor-parrafo .contenedor-boton .btn {
        font-size: 1em; }
        .contenedor-pasillo .contenedor-parrafo .contenedor-boton .btn:hover {
          transform: scale(1.1);
          transition: .2s; }

.contenedor-cartel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url(../imagenes/fondoheader.jpg);
  background-position: center; }
  .contenedor-cartel .contenedor-parrafoii {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-column: 2/9;
    grid-row: 1/2; }
    .contenedor-cartel .contenedor-parrafoii .parrafoii {
      font-size: 1.7em;
      grid-row: 1/2;
      color: whitesmoke; }
      .contenedor-cartel .contenedor-parrafoii .parrafoii .lh-base {
        font-family: Arial, Helvetica, sans-serif; }
    .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos {
      grid-row: 2/3;
      font-size: 1.9em;
      color: yellow; }
      .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos .btn {
        font-size: 1em; }
        .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos .btn:hover {
          transform: scale(1.1);
          transition: .2s; }
  .contenedor-cartel .contenedor-letrero {
    grid-column: 9/13;
    grid-row: 1/2; }
    .contenedor-cartel .contenedor-letrero .letrero .img-cartel {
      border-radius: 10px;
      width: 85%;
      opacity: .9; }
      .contenedor-cartel .contenedor-letrero .letrero .img-cartel:hover {
        transform: scale(1.1);
        transition: .9s; }

/* wave */
/* Decoracion */
.decoracion-cont {
  background-color: #2b303a; }
  .decoracion-cont .decoracion {
    display: flex;
    justify-content: space-around; }
    .decoracion-cont .decoracion .img-decoracion {
      width: 100%; }
      .decoracion-cont .decoracion .img-decoracion:hover {
        transform: scale(0.95);
        transition: .4s;
        opacity: .9; }
    @media screen and (max-width: 1311px) {
      .decoracion-cont .decoracion .contenedor-decoracioniiiii {
        display: none; } }
    @media screen and (max-width: 1059px) {
      .decoracion-cont .decoracion .contenedor-decoracioniiii {
        display: none; } }
    @media screen and (max-width: 808px) {
      .decoracion-cont .decoracion .contenedor-decoracioniii {
        display: none; } }
    @media screen and (max-width: 550px) {
      .decoracion-cont .decoracion .contenedor-decoracionii {
        display: none; } }
  .decoracion-cont .parrafo-decora {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .decoracion-cont .parrafo-decora .parrafo-deco {
      width: 500px;
      color: yellow; }
      .decoracion-cont .parrafo-decora .parrafo-deco span {
        color: #36da36; }

/* Media de contenedor pasillo y cartel */
@media screen and (max-width: 768px) {
  .contenedor-pasillo {
    display: block; }
  .contenedor-cartel {
    display: block; } }

@media screen and (max-width: 1024px) {
  .contenedor-pasillo .contenedor-parrafo {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-column: 6/12;
    grid-row: 1/2; }
    .contenedor-pasillo .contenedor-parrafo .parrafo {
      font-size: 1.5em; }
    .contenedor-pasillo .contenedor-parrafo .contenedor-boton {
      font-size: 1.5em; }
      .contenedor-pasillo .contenedor-parrafo .contenedor-boton .btn {
        font-size: .8em; }
  .contenedor-cartel .contenedor-parrafoii {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-column: 2/9;
    grid-row: 1/2; }
    .contenedor-cartel .contenedor-parrafoii .parrafoii {
      font-size: 1.5em;
      grid-row: 1/2; }
    .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos {
      grid-row: 2/3;
      font-size: 1.5em; }
      .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos .btn {
        font-size: .8em; } }

@media screen and (max-width: 425px) {
  .contenedor-pasillo .contenedor-parrafo .parrafo {
    font-size: 1em; }
  .contenedor-cartel .contenedor-parrafoii .parrafoii {
    font-size: 1em; } }

/* Sobre nosotros */
#nosotros {
  background: #e5b25d;
  background: linear-gradient(0deg, #e5b25d 13%, #d68c4e 77%); }
  #nosotros .row .col-12 .img-gral {
    opacity: 0.9; }
    #nosotros .row .col-12 .img-gral:hover {
      transform: scale(1.1);
      transition: 1s; }
      @media screen and (max-width: 768px) {
        #nosotros .row .col-12 .img-gral:hover {
          transform: scale(0.9);
          transition: 1s; } }

/* Carousele Decorativo */
.container-fluid {
  background: #d68c4e;
  background: linear-gradient(0deg, #d68c4e 13%, #e5b25d 71%); }
  @media screen and (max-width: 768px) {
    .container-fluid .row .col .carousel .carousel-inner {
      height: 40vh;
      width: 100%; } }

.locales-carousel {
  background: #d68c4e;
  background: linear-gradient(0deg, #d68c4e 13%, #e5b25d 71%);
  height: 100%; }
  .locales-carousel .local-i .container-fluid {
    width: 40%;
    background-image: url(../imagenes/fondoheader.jpg); }
    @media screen and (max-width: 576px) {
      .locales-carousel .local-i .container-fluid {
        width: 90%; } }
    .locales-carousel .local-i .container-fluid .subtitulo-local1 {
      color: whitesmoke; }
  .locales-carousel .local-ii .container-fluid {
    width: 40%;
    background-image: url(../imagenes/fondoheader.jpg); }
    @media screen and (max-width: 576px) {
      .locales-carousel .local-ii .container-fluid {
        width: 90%; } }
    .locales-carousel .local-ii .container-fluid .subtitulo-local2 {
      color: whitesmoke; }

/* Servicios titulo e imgs */
.container-fluid .row .col-12 .img-gral {
  width: 80%;
  opacity: .8; }
  .container-fluid .row .col-12 .img-gral:hover {
    transform: scale(1.1);
    transition: 1s; }
    @media screen and (max-width: 768px) {
      .container-fluid .row .col-12 .img-gral:hover {
        transform: scale(0.9);
        transition: 1s; } }

/* Imagen con texto */
.contenedor-carta {
  background: #e5b25d;
  background: linear-gradient(0deg, #e5b25d 13%, #d68c4e 71%); }
  .contenedor-carta .carta-letrero {
    display: flex;
    justify-content: center; }
    .contenedor-carta .carta-letrero .card {
      width: 75%; }
      @media screen and (max-width: 768px) {
        .contenedor-carta .carta-letrero .card {
          width: 100%; } }
      .contenedor-carta .carta-letrero .card .card-img-overlay {
        font-size: 30px;
        color: #000300; }
        @media screen and (max-width: 576px) {
          .contenedor-carta .carta-letrero .card .card-img-overlay {
            font-size: 1em; } }

/* Formulario */
.contenedor-formulario {
  background-image: url(../imagenes/fondoheader2.gif);
  background-position: center; }
  .contenedor-formulario .formulario .form-style {
    width: 50%;
    margin: auto; }
    @media screen and (max-width: 768px) {
      .contenedor-formulario .formulario .form-style {
        width: 90%; } }

/* Ubicacion */
.contenedor-ubicacion {
  background-color: #2b303a; }
  .contenedor-ubicacion #subtitulo-ubic {
    color: yellow; }
  .contenedor-ubicacion .container-fluid {
    background-image: url(../imagenes/fondoheader.jpg); }
    @media screen and (max-width: 768px) {
      .contenedor-ubicacion .container-fluid .row .col-2 .img-ubici {
        display: none; } }
    .contenedor-ubicacion .container-fluid .col-8 .iframe-mapa {
      margin-top: 10px; }
      @media screen and (max-width: 768px) {
        .contenedor-ubicacion .container-fluid .col-8 .iframe-mapa {
          width: 100%; } }
