@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
* {
  padding: 0%;
  margin: 0;
  font-family: 'Dancing Script', cursive; }

body {
  background: #e48909;
  background: linear-gradient(90deg, #e48909 0%, #edbe1e 50%, #e48909 100%); }

.cabeza {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #2b303a;
  -webkit-box-shadow: -1px 15px 40px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 15px 40px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 15px 40px -10px rgba(0, 0, 0, 0.75); }
  .cabeza:hover {
    background-image: url(../imagenes/fondoheader.jpg); }
  .cabeza .navegador {
    grid-column-start: 1;
    grid-column-end: 13;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .cabeza .navegador .link-logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .cabeza .navegador .link-logo .img-logo {
        margin: 20px 20px;
        width: 50%; }
    .cabeza .navegador ul {
      margin: 15px 20px; }
      .cabeza .navegador ul li {
        display: inline-block;
        margin: 10px 20px;
        font-size: 1.4rem;
        list-style: none;
        position: relative; }
        .cabeza .navegador ul li::before {
          content: "";
          background: #FED766;
          height: 3px;
          width: 0%;
          position: absolute;
          left: 0%;
          bottom: -12px;
          transition: 0.3s ease-out; }
        .cabeza .navegador ul li:hover::before {
          width: 100%; }
        .cabeza .navegador ul li a {
          text-decoration: none;
          color: yellow; }

@media screen and (max-width: 768px) {
  .cabeza .navegador {
    justify-content: center; }
  .cabeza .navegador .link-logo .img-logo {
    width: 75%; }
  .cabeza .navegador ul li {
    font-size: 20px;
    display: block; } }

@media screen and (max-width: 375px) {
  .cabeza .navegador .link-logo .img-logo {
    margin-left: 60px;
    width: 90%; }
  .cabeza .navegador ul li {
    font-size: 1em; } }

footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #36393B; }
  footer .volver-arriba {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; }
    footer .volver-arriba .link-hover {
      text-decoration: none;
      color: #ff8c42; }
      footer .volver-arriba .link-hover:hover {
        transform: scale(1.3);
        transition: .2s; }
  footer .footer-felipe {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center; }
    footer .footer-felipe .pagcreada {
      color: #ffd57d; }
    footer .footer-felipe .link-hover {
      text-decoration: none;
      color: #ff8c42; }
  footer .footer-redes {
    grid-column: 10/13;
    grid-row: 1/2;
    width: 100%;
    font-size: 20px; }
    footer .footer-redes .seguinos {
      text-align: center;
      color: #ffd57d; }
    footer .footer-redes .footer-imgs {
      display: flex;
      justify-content: space-evenly; }

.red-insta, .red-whats, .red-face {
  width: 30px; }

.red-whats, .red-face {
  width: 30px; }

.red-face {
  width: 30px; }

.red-insta:hover, .red-whats:hover, .red-face:hover {
  transform: rotate3d(1, 1, 1, 360deg);
  -webkit-transform: rotate3d(1, 1, 1, 360deg);
  transition: all 1s; }

@media screen and (max-width: 768px) {
  footer .volver-arriba {
    grid-column: 1/5;
    grid-row: 1/2;
    display: none; }
  footer .footer-felipe {
    grid-column: 4/10;
    grid-row: 2/3; }
  footer .footer-redes {
    grid-column: 4/10;
    grid-row: 1/2;
    width: 100%;
    font-size: 1em; } }

/* Algo de Historia... */
h1 .galeria {
  color: #FF2E00; }

h1 .paseo {
  color: #5C946E; }

h1 .colonial {
  color: #2b303a; }

.contenedor-pasillo {
  background-image: url(../imagenes/fondoheader.jpg);
  background-position: bottom;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 100px; }
  .contenedor-pasillo .contenedor-imgpasillo {
    grid-column: 1/5;
    grid-row: 1/2; }
    .contenedor-pasillo .contenedor-imgpasillo .pasillo .img-pasillo {
      border-radius: 10px;
      margin-left: 30px; }
      .contenedor-pasillo .contenedor-imgpasillo .pasillo .img-pasillo:hover {
        transform: scale(1.2);
        transition: .9s; }
  .contenedor-pasillo .contenedor-parrafo {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-column: 6/13;
    grid-row: 1/2;
    background-color: #2b303a;
    border-radius: 10px;
    padding: 20px;
    margin: 50px 10px; }
    .contenedor-pasillo .contenedor-parrafo .parrafo {
      font-size: 1.7em;
      color: whitesmoke;
      padding: 20px; }
      .contenedor-pasillo .contenedor-parrafo .parrafo .lh-base {
        font-family: Arial, Helvetica, sans-serif; }
    .contenedor-pasillo .contenedor-parrafo .contenedor-boton {
      font-size: 1.9em;
      color: yellow;
      padding: 15px; }
      .contenedor-pasillo .contenedor-parrafo .contenedor-boton .btn {
        font-size: 1em;
        letter-spacing: 4px; }
        .contenedor-pasillo .contenedor-parrafo .contenedor-boton .btn:hover {
          transform: scale(1.1);
          transition: .2s; }

.contenedor-cartel {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url(../imagenes/fondoheader.jpg);
  background-position: center;
  margin-bottom: 50px; }
  .contenedor-cartel .contenedor-parrafoii {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-column: 1/9;
    grid-row: 1/2;
    background-color: #2b303a;
    border-radius: 10px;
    padding: 20px;
    margin: 50px 10px; }
    .contenedor-cartel .contenedor-parrafoii .parrafoii {
      font-size: 1.7em;
      grid-row: 1/2;
      color: #ffffff; }
      .contenedor-cartel .contenedor-parrafoii .parrafoii .lh-base {
        font-family: Arial, Helvetica, sans-serif; }
    .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos {
      grid-row: 2/3;
      font-size: 1.9em;
      color: yellow; }
      .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos .btn {
        font-size: 1em;
        letter-spacing: 4px; }
        .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos .btn:hover {
          transform: scale(1.1);
          transition: .2s; }
  .contenedor-cartel .contenedor-letrero {
    grid-column: 9/13;
    grid-row: 1/2; }
    .contenedor-cartel .contenedor-letrero .letrero .img-cartel {
      border-radius: 10px;
      width: 90%;
      opacity: .9; }
      .contenedor-cartel .contenedor-letrero .letrero .img-cartel:hover {
        transform: scale(1.1);
        transition: .9s; }

/* wave */
/* Decoracion */
.decoracion-cont {
  background-color: #2b303a;
  padding-top: 130px;
  height: 150vh; }
  .decoracion-cont .decoracion {
    display: flex;
    justify-content: space-around; }
  .decoracion-cont .parrafo-decora {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .decoracion-cont .parrafo-decora .parrafo-deco {
      width: 500px;
      color: yellow; }
      .decoracion-cont .parrafo-decora .parrafo-deco span {
        color: #36da36; }

/* Mixins */
.contenedor-decoracion1 {
  color: yellow;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(../imagenes/galerialluvia.jpg);
  overflow: hidden; }
  .contenedor-decoracion1::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion1::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion1:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion1:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion1:hover::before, .contenedor-decoracion1:hover::after {
      width: 80%; }
  .contenedor-decoracion1 h3 {
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 156px;
    transform: translateX(-280%); }

.contenedor-decoracion2 {
  color: green;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(../imagenes/cactus.jpg);
  overflow: hidden; }
  .contenedor-decoracion2::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: green;
    transition: all .6s; }
  .contenedor-decoracion2::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: green;
    transition: all .6s; }
  .contenedor-decoracion2:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion2:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion2:hover::before, .contenedor-decoracion2:hover::after {
      width: 80%; }
  .contenedor-decoracion2 h3 {
    font-size: 2.2em;
    position: absolute;
    top: 12px;
    right: 20px;
    transform: translateX(-280%); }

.contenedor-decoracion3 {
  color: red;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(../imagenes/entradamod.png);
  overflow: hidden; }
  .contenedor-decoracion3::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: all .6s; }
  .contenedor-decoracion3::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: all .6s; }
  .contenedor-decoracion3:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion3:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion3:hover::before, .contenedor-decoracion3:hover::after {
      width: 80%; }
  .contenedor-decoracion3 h3 {
    font-size: 2.2em;
    position: absolute;
    top: 60px;
    right: 60px;
    transform: translateX(-280%); }

.contenedor-decoracion4 {
  color: yellow;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(https://dummyimage.com/250x400/000/fff);
  overflow: hidden; }
  .contenedor-decoracion4::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion4::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion4:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion4:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion4:hover::before, .contenedor-decoracion4:hover::after {
      width: 80%; }
  .contenedor-decoracion4 h3 {
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 156px;
    transform: translateX(-280%); }

.contenedor-decoracion5 {
  color: yellow;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(https://dummyimage.com/250x400/000/fff);
  overflow: hidden; }
  .contenedor-decoracion5::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion5::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion5:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion5:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion5:hover::before, .contenedor-decoracion5:hover::after {
      width: 80%; }
  .contenedor-decoracion5 h3 {
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 156px;
    transform: translateX(-280%); }

@media screen and (max-width: 1311px) {
  .contenedor-decoracion5 {
    display: none; } }

@media screen and (max-width: 1059px) {
  .contenedor-decoracion4 {
    display: none; } }

@media screen and (max-width: 808px) {
  .contenedor-decoracion3 {
    display: none; } }

@media screen and (max-width: 550px) {
  .contenedor-decoracion2 {
    display: none; } }

/* Media de contenedor pasillo y cartel */
@media screen and (max-width: 768px) {
  .contenedor-pasillo {
    display: block; }
    .contenedor-pasillo .contenedor-imgpasillo .pasillo .img-pasillo {
      margin: 0; }
      .contenedor-pasillo .contenedor-imgpasillo .pasillo .img-pasillo:hover {
        transform: scale(0.9);
        transition: .9s; }
  .contenedor-cartel {
    display: block; }
    .contenedor-cartel .img-cartel {
      width: 70%; } }

@media screen and (max-width: 1024px) {
  .contenedor-pasillo .contenedor-parrafo .parrafo {
    font-size: 1.5em; }
  .contenedor-pasillo .contenedor-parrafo .contenedor-boton {
    font-size: 1.5em; }
    .contenedor-pasillo .contenedor-parrafo .contenedor-boton .btn {
      font-size: .8em; }
  .contenedor-cartel .contenedor-parrafoii .parrafoii {
    font-size: 1.5em;
    grid-row: 1/2; }
  .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos {
    grid-row: 2/3;
    font-size: 1.5em; }
    .contenedor-cartel .contenedor-parrafoii .contenedor-botonnos .btn {
      font-size: .8em; } }

@media screen and (max-width: 950px) {
  .contenedor-pasillo .contenedor-imgpasillo .pasillo .img-pasillo {
    margin-top: 15px;
    margin-bottom: 15px; }
  .contenedor-pasillo .contenedor-parrafo .parrafo {
    font-size: 1.2em; }
  .contenedor-cartel .contenedor-parrafoii .parrafoii {
    font-size: 1.2em; } }

@media screen and (max-width: 425px) {
  .contenedor-pasillo .contenedor-imgpasillo .pasillo .img-pasillo {
    margin-top: 20px; }
  .contenedor-pasillo .contenedor-parrafo .parrafo {
    font-size: 1em;
    padding: 0; }
  .contenedor-cartel .contenedor-parrafoii .parrafoii {
    font-size: 1em; } }

/* Cartel Frente */
.contenedor-frente {
  background-image: url(../imagenes/frentepaseocolonialmod.jpg);
  height: 100vh;
  background-size: 100% 100%; }
  @media screen and (max-width: 768px) {
    .contenedor-frente {
      height: 70vh; } }
  @media screen and (max-width: 425px) {
    .contenedor-frente {
      height: 50vh; } }

/* Sobre nosotros */
#nosotros {
  background: #e5b25d;
  background: linear-gradient(0deg, #e5b25d 13%, #d68c4e 77%); }
  #nosotros .row .col-12 {
    display: flex;
    align-items: center;
    justify-content: center; }
    #nosotros .row .col-12 .img-logonos {
      height: 80px;
      width: 90%; }
      #nosotros .row .col-12 .img-logonos:hover {
        transform: scale(1.1);
        transition: 1s; }
        @media screen and (max-width: 768px) {
          #nosotros .row .col-12 .img-logonos:hover {
            transform: scale(0.9);
            transition: 1s; } }
    #nosotros .row .col-12 .img-gral {
      opacity: 0.9; }
      #nosotros .row .col-12 .img-gral:hover {
        transform: scale(1.1);
        transition: 1s; }
        @media screen and (max-width: 768px) {
          #nosotros .row .col-12 .img-gral:hover {
            transform: scale(0.9);
            transition: 1s; } }

/* Mixins */
.contenedor-decoracion1 {
  color: yellow;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(../imagenes/galerialluvia.jpg);
  overflow: hidden; }
  .contenedor-decoracion1::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion1::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion1:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion1:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion1:hover::before, .contenedor-decoracion1:hover::after {
      width: 80%; }
  .contenedor-decoracion1 h3 {
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 156px;
    transform: translateX(-280%); }

.contenedor-decoracion2 {
  color: green;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(../imagenes/cactus.jpg);
  overflow: hidden; }
  .contenedor-decoracion2::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: green;
    transition: all .6s; }
  .contenedor-decoracion2::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: green;
    transition: all .6s; }
  .contenedor-decoracion2:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion2:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion2:hover::before, .contenedor-decoracion2:hover::after {
      width: 80%; }
  .contenedor-decoracion2 h3 {
    font-size: 2.2em;
    position: absolute;
    top: 12px;
    right: 20px;
    transform: translateX(-280%); }

.contenedor-decoracion3 {
  color: red;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(../imagenes/entradamod.png);
  overflow: hidden; }
  .contenedor-decoracion3::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: all .6s; }
  .contenedor-decoracion3::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: all .6s; }
  .contenedor-decoracion3:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion3:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion3:hover::before, .contenedor-decoracion3:hover::after {
      width: 80%; }
  .contenedor-decoracion3 h3 {
    font-size: 2.2em;
    position: absolute;
    top: 60px;
    right: 60px;
    transform: translateX(-280%); }

.contenedor-decoracion4 {
  color: yellow;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(https://dummyimage.com/250x400/000/fff);
  overflow: hidden; }
  .contenedor-decoracion4::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion4::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion4:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion4:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion4:hover::before, .contenedor-decoracion4:hover::after {
      width: 80%; }
  .contenedor-decoracion4 h3 {
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 156px;
    transform: translateX(-280%); }

.contenedor-decoracion5 {
  color: yellow;
  width: 250px;
  height: 400px;
  position: relative;
  background-image: url(https://dummyimage.com/250x400/000/fff);
  overflow: hidden; }
  .contenedor-decoracion5::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion5::after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 10px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: all .6s; }
  .contenedor-decoracion5:hover {
    transform: scale(0.98);
    transition: all .6s; }
    .contenedor-decoracion5:hover h3 {
      transform: translateX(0%);
      transition: all .6s; }
    .contenedor-decoracion5:hover::before, .contenedor-decoracion5:hover::after {
      width: 80%; }
  .contenedor-decoracion5 h3 {
    font-size: 2em;
    position: absolute;
    bottom: 50px;
    left: 156px;
    transform: translateX(-280%); }

@media screen and (max-width: 1311px) {
  .contenedor-decoracion5 {
    display: none; } }

@media screen and (max-width: 1059px) {
  .contenedor-decoracion4 {
    display: none; } }

@media screen and (max-width: 808px) {
  .contenedor-decoracion3 {
    display: none; } }

@media screen and (max-width: 550px) {
  .contenedor-decoracion2 {
    display: none; } }

.locales-carousel {
  height: 100%; }
  .locales-carousel .local-1 .container-fluid {
    width: 40%;
    background-image: url(../imagenes/fondoheader.jpg); }
    @media screen and (max-width: 576px) {
      .locales-carousel .local-1 .container-fluid {
        width: 90%; } }
    .locales-carousel .local-1 .container-fluid .subtitulo-local1 {
      color: whitesmoke; }
  .locales-carousel .local-2 .container-fluid {
    width: 40%;
    background-image: url(../imagenes/fondoheader.jpg); }
    @media screen and (max-width: 576px) {
      .locales-carousel .local-2 .container-fluid {
        width: 90%; } }
    .locales-carousel .local-2 .container-fluid .subtitulo-local2 {
      color: whitesmoke; }
  .locales-carousel .local-3 .container-fluid {
    width: 40%;
    background-image: url(../imagenes/fondoheader.jpg); }
    @media screen and (max-width: 576px) {
      .locales-carousel .local-3 .container-fluid {
        width: 90%; } }
    .locales-carousel .local-3 .container-fluid .subtitulo-local2 {
      color: whitesmoke; }

/* Servicios titulo e imgs */
.contenedor-servicio {
  background-color: #2b303a; }
  .contenedor-servicio h1 {
    color: yellow; }
  .contenedor-servicio .row .col-12 p {
    color: yellow; }
  .contenedor-servicio .row .col-12 .img-gral {
    width: 80%;
    opacity: .8; }
    .contenedor-servicio .row .col-12 .img-gral:hover {
      transform: scale(1.1);
      transition: 1s; }
      @media screen and (max-width: 768px) {
        .contenedor-servicio .row .col-12 .img-gral:hover {
          transform: scale(0.9);
          transition: 1s; } }

/* Imagen con texto */
.contenedor-carta .carta-letrero {
  display: flex;
  justify-content: center; }
  .contenedor-carta .carta-letrero .card {
    width: 75%; }
    @media screen and (max-width: 768px) {
      .contenedor-carta .carta-letrero .card {
        width: 100%; } }
    .contenedor-carta .carta-letrero .card .card-img-overlay {
      font-size: 30px;
      color: white;
      font-size: 2.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contenedor-carta .carta-letrero .card .card-img-overlay h2 {
        color: black; }
      @media screen and (max-width: 576px) {
        .contenedor-carta .carta-letrero .card .card-img-overlay {
          font-size: 1em; } }

/*Titulo y Formulario */
.contenedor-formulario {
  background-image: url(../imagenes/fondoheader2.gif);
  background-position: center;
  -webkit-box-shadow: 7px 7px 29px 1px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 7px 7px 29px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 7px 7px 29px 1px rgba(0, 0, 0, 0.59); }
  .contenedor-formulario #titulo-contacto {
    font-size: 5em; }
  .contenedor-formulario .formulario .form-style {
    width: 60%;
    margin: auto; }
    .contenedor-formulario .formulario .form-style input, .contenedor-formulario .formulario .form-style textarea {
      font-size: 1.3em; }
    @media screen and (max-width: 992px) {
      .contenedor-formulario .formulario .form-style {
        width: 75%; } }
    @media screen and (max-width: 768px) {
      .contenedor-formulario .formulario .form-style {
        width: 90%; } }

/* Ubicacion */
.contenedor-ubicacion {
  background-color: #2b303a;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .contenedor-ubicacion #subtitulo-ubic {
    color: yellow;
    padding: 20px; }
  .contenedor-ubicacion .container-fluid {
    background-image: url(../imagenes/fondoheader.jpg); }
    .contenedor-ubicacion .container-fluid .row .col-8 {
      margin-top: 8px; }
      .contenedor-ubicacion .container-fluid .row .col-8 .iframe-mapa iframe {
        width: 100%; }
      @media screen and (max-width: 768px) {
        .contenedor-ubicacion .container-fluid .row .col-8 .iframe-mapa {
          width: 100%; } }
