@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
* {
  padding: 0%;
  margin: 0;
  font-family: 'Dancing Script', cursive; }

body {
  background-image: url(../imagenes/parednaranja.jpg);
  background-position: bottom; }

.cabeza {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: url(../imagenes/paredverde.jpg);
  background-size: cover; }
  .cabeza .navegador {
    grid-column-start: 1;
    grid-column-end: 13;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .cabeza .navegador .img-logo {
      margin: 20px 20px; }
    .cabeza .navegador ul {
      margin: 15px 20px; }
      .cabeza .navegador ul li {
        display: inline-block;
        margin: 10px 20px;
        font-size: 1.4rem;
        list-style: none;
        position: relative; }
        .cabeza .navegador ul li::before {
          content: "";
          background: #FED766;
          height: 3px;
          width: 0%;
          position: absolute;
          left: 0%;
          bottom: -12px;
          transition: 0.3s ease-out; }
        .cabeza .navegador ul li:hover::before {
          width: 100%; }
        .cabeza .navegador ul li a {
          text-decoration: none;
          color: #591F0A; }

@media screen and (max-width: 768px) {
  .cabeza .navegador .img-logo {
    width: 100%; }
  .cabeza .navegador ul li {
    font-size: 20px;
    display: block; } }

footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #2B303A; }
  footer .volver-arriba {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; }
    footer .volver-arriba .link-hover {
      text-decoration: none;
      color: #ff8c42; }
      footer .volver-arriba .link-hover:hover {
        transform: scale(1.3);
        transition: .2s; }
  footer .footer-felipe {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center; }
    footer .footer-felipe .pagcreada {
      color: #ccc; }
    footer .footer-felipe .link-hover {
      text-decoration: none;
      color: #ff8c42; }
  footer .footer-redes {
    grid-column: 10/13;
    grid-row: 1/2;
    width: 100%;
    font-size: 20px; }
    footer .footer-redes .seguinos {
      text-align: center;
      color: #ccc; }
    footer .footer-redes .footer-imgs {
      display: flex;
      justify-content: space-evenly; }
      footer .footer-redes .footer-imgs .insta {
        width: 30px; }
        footer .footer-redes .footer-imgs .insta:hover {
          transform: rotate3d(1, 1, 1, 360deg);
          -webkit-transform: rotate3d(1, 1, 1, 360deg);
          transition: 1s; }
      footer .footer-redes .footer-imgs .whats {
        width: 30px; }
        footer .footer-redes .footer-imgs .whats:hover {
          transform: rotate3d(1, 1, 1, 360deg);
          -webkit-transform: rotate3d(1, 1, 1, 360deg);
          transition: 1s; }
      footer .footer-redes .footer-imgs .face {
        width: 30px; }
        footer .footer-redes .footer-imgs .face:hover {
          transform: rotate3d(1, 1, 1, 360deg);
          -webkit-transform: rotate3d(1, 1, 1, 360deg);
          transition: 1s; }

@media screen and (max-width: 768px) {
  footer .volver-arriba {
    grid-column: 1/5;
    grid-row: 1/2;
    display: none; }
  footer .footer-felipe {
    grid-column: 5/10;
    grid-row: 2/3; }
  footer .footer-redes {
    grid-column: 5/10;
    grid-row: 1/2;
    width: 100%;
    font-size: 1em; } }

/* Algo de Historia... */
.contenedor-historia {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 55rem;
  background-color: bisque;
  background-image: url(../imagenes/parednaranja.jpg); }
  .contenedor-historia .titulo-historia {
    grid-column: 5/9;
    grid-row: 1/2;
    width: 100%;
    font-size: 3rem;
    color: #2B303A;
    text-align: center;
    padding: 20px 0; }
  .contenedor-historia .imagen-pasillo {
    grid-column: 1/4;
    grid-row: 2/3;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    opacity: 0.8; }
  .contenedor-historia .parrafo-historia {
    grid-column: 4/10;
    grid-row: 2/3;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center; }
  .contenedor-historia .imagen-cartel {
    grid-column: 10/13;
    grid-row: 2/3;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    opacity: 0.8; }

/* Decoracion */
.decoracion {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  background-color: bisque;
  background-image: url(../imagenes/parednaranja.jpg);
  margin-top: 300px; }
  .decoracion .img-decoracion {
    grid-column: 1/13;
    grid-row: 1/2;
    width: 100%;
    height: 30rem;
    padding: 20px 0;
    margin: 20px 0; }
  .decoracion .parrafo-decoracion {
    grid-column: 3/11;
    grid-row: 2/3;
    font-size: 30px;
    text-align: center;
    width: 100%; }

@media screen and (max-width: 768px) {
  /* Algo de Historia */
  .contenedor-historia {
    display: inline-block;
    height: auto; }
  .contenedor-historia .titulo-historia {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .contenedor-historia .imagen-cartel {
    display: none; }
  .contenedor-historia .imagen-pasillo {
    width: 80%;
    margin-left: 30px; }
  .contenedor-historia .parrafo-historia {
    font-size: 1.5em;
    padding: 0 20px; }
  /* DECORACION */
  .decoracion .img-decoracion {
    height: 50vh; } }

/* Sobre nosotros */
h1 {
  color: #2B303A; }

.container {
  background: #e5b25d;
  background: linear-gradient(0deg, #e5b25d 13%, #d68c4e 77%); }
  .container .row .col-12 .img-gral {
    opacity: 0.9; }
    .container .row .col-12 .img-gral:hover {
      transform: scale(1.1);
      transition: 1s; }
      @media screen and (max-width: 768px) {
        .container .row .col-12 .img-gral:hover {
          transform: scale(0.9);
          transition: 1s; } }

/* Carousele Decorativo */
.container-fluid {
  background: #d68c4e;
  background: linear-gradient(0deg, #d68c4e 13%, #e5b25d 71%); }
  @media screen and (max-width: 768px) {
    .container-fluid .row .col .carousel .carousel-inner {
      height: 40vh;
      width: 100%; } }

.locales-carousel {
  background: #d68c4e;
  background: linear-gradient(0deg, #d68c4e 13%, #e5b25d 71%);
  height: 100%; }
  .locales-carousel .local-i .container-fluid {
    width: 40%; }
    @media screen and (max-width: 576px) {
      .locales-carousel .local-i .container-fluid {
        width: 90%; } }
  .locales-carousel .local-ii .container-fluid {
    width: 40%; }
    @media screen and (max-width: 576px) {
      .locales-carousel .local-ii .container-fluid {
        width: 90%; } }

/* Servicios titulo e imgs */
.container-fluid .row .col-12 .img-gral {
  width: 80%;
  opacity: .8; }
  .container-fluid .row .col-12 .img-gral:hover {
    transform: scale(1.1);
    transition: 1s; }
    @media screen and (max-width: 768px) {
      .container-fluid .row .col-12 .img-gral:hover {
        transform: scale(0.9);
        transition: 1s; } }

/* Imagen con texto */
.contenedor-carta {
  background: #e5b25d;
  background: linear-gradient(0deg, #e5b25d 13%, #d68c4e 71%); }
  .contenedor-carta .carta-letrero {
    display: flex;
    justify-content: center; }
    .contenedor-carta .carta-letrero .card {
      width: 75%; }
      @media screen and (max-width: 768px) {
        .contenedor-carta .carta-letrero .card {
          width: 100%; } }
      .contenedor-carta .carta-letrero .card .card-img-overlay {
        font-size: 30px;
        color: #000300; }
        @media screen and (max-width: 576px) {
          .contenedor-carta .carta-letrero .card .card-img-overlay {
            font-size: 1em; } }

/* Formulario */
.contenedor-formulario {
  background: #d68c4e;
  background: linear-gradient(0deg, #d68c4e 13%, #e5b25d 92%); }
  .contenedor-formulario .formulario .form-style {
    width: 50%;
    margin: auto; }
    @media screen and (max-width: 768px) {
      .contenedor-formulario .formulario .form-style {
        width: 90%; } }

/* Ubicacion */
.contenedor-ubicacion {
  background: #e5b25d; }
  @media screen and (max-width: 768px) {
    .contenedor-ubicacion .container-fluid .row .col-2 .img-ubici {
      display: none; } }
  @media screen and (max-width: 768px) {
    .contenedor-ubicacion .container-fluid .col-8 .iframe-mapa {
      width: 100%; } }
