@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*{
    padding: 0%;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

h1{
    .galeria{
        color: $color-galeria;
    }
    .paseo{
        color: $color-paseo;
    }
    .colonial{
        color: $color-colonial;
    }
}

body{
    background: rgb(228,137,9);
    background: linear-gradient(90deg, rgba(228,137,9,1) 0%, rgba(237,190,30,1) 50%, rgba(228,137,9,1) 100%);
    /* background: rgb(140,59,11);
    background: linear-gradient(90deg, rgba(140,59,11,1) 27%, rgba(150,101,36,1) 51%, rgba(140,59,11,1) 72%); */
}