$texto-parrafo: 30px;
$color-a: #591F0A;
$color-galeria: #FF2E00;
$color-paseo: #5C946E;
$color-colonial: #2b303a;
$color-bordo: #591F0A;
$color-amarillo: yellow;
$hover-anchura: 80%;
$color-parrafo: #f5f5f5;
$color-blanco: #ffffff;