/* Formulario */
.contenedor-formulario{
    background-image: url(../imagenes/fondoheader2.gif);
    background-position: center;
    .formulario{
        .form-style{
            width: 50%;
            margin: auto;
            @media screen and (max-width:768px) {
                width: 90%;
            }
        }
    }
}

/* Ubicacion */

.contenedor-ubicacion{
    background-color: $color-colonial;
    #subtitulo-ubic{
        color: yellow;
    }
    .container-fluid{
        background-image: url(../imagenes/fondoheader.jpg);
        .row{
            .col-2{
                .img-ubici{
                    @media screen and (max-width:768px) {
                        display: none;
                    }
                }
            }
        }
        .col-8{
            .iframe-mapa{
                margin-top: 10px;
                @media screen and (max-width:768px) {
                    width: 100%;
                }
            }
        }
    }
}