
/* Algo de Historia... */
h1{
    .galeria{
        color: $color-galeria;
    }
    .paseo{
        color: $color-paseo;
    }
    .colonial{
        color: $color-colonial;
    }
}
.contenedor-pasillo{
    background-image: url(../imagenes/fondoheader.jpg);
    background-position: bottom;
    display:  grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom: 100px;
    .contenedor-imgpasillo{
        grid-column: 1/5;
        grid-row: 1/2;
        .pasillo{
            .img-pasillo{
                border-radius: 10px;
                margin-left: 30px;
                &:hover{
                    transform:scale(1.1) ;
                    transition: all 1.35s;
                }
            }
        }
    }
    .contenedor-parrafo{
        display: grid;
        grid-template-rows: repeat(2,auto);
        grid-column: 6/13;
        grid-row: 1/2;
        background-color: $color-colonial;
        border-radius: 10px;
        padding: 20px;
        margin: 50px 10px;
        .parrafo{
            font-size: 1.7em;
            color: whitesmoke;
            padding: 20px;
            .lh-base{
                font-family:Arial, Helvetica, sans-serif;
            }
        }
        .contenedor-boton{
            font-size: 1.9em;
            color: yellow;
            .boton {
                background: #d9c334;
                background-image: -webkit-linear-gradient(top, #d9c334, #b8742b);
                background-image: -moz-linear-gradient(top, #d9c334, #b8742b);
                background-image: -ms-linear-gradient(top, #d9c334, #b8742b);
                background-image: -o-linear-gradient(top, #d9c334, #b8742b);
                background-image: linear-gradient(to bottom, #d9c334, #b8742b);
                -webkit-border-radius: 19;
                -moz-border-radius: 19;
                border-radius: 19px;
                -webkit-box-shadow: 4px 4px 16px #b04d02;
                -moz-box-shadow: 4px 4px 16px #b04d02;
                box-shadow: 4px 4px 16px #b04d02;
                font-family: Arial;
                color: #000000;
                font-size: 30px;
                padding: 6px 20px 9px 20px;
                text-decoration: none;
                border: none;
                &:hover {
                    background: #fcbc3c;
                    text-decoration: none;
                }
            }
        }
    }
    
}

.contenedor-cartel{
    display:  grid;
    grid-template-columns: repeat(12,1fr);
    background-image: url(../imagenes/fondoheader.jpg);
    background-position: center;
    margin-bottom: 50px;
    .contenedor-parrafoii{
        display: grid;
        grid-template-rows: repeat(2,auto);
        grid-column: 1/9;
        grid-row: 1/2;
        background-color: $color-colonial;
        border-radius: 10px;
        padding: 20px;
        margin: 50px 10px;
        .parrafoii{
            font-size: 1.7em;
            grid-row: 1/2;
            color: $color-blanco;
            .lh-base{
                font-family:Arial, Helvetica, sans-serif;
            }
        }
        .contenedor-botonnos{
            grid-row: 2/3;
            font-size: 1.9em;
            color: yellow;
            .boton {
                background: #d9c334;
                background-image: -webkit-linear-gradient(top, #d9c334, #b8742b);
                background-image: -moz-linear-gradient(top, #d9c334, #b8742b);
                background-image: -ms-linear-gradient(top, #d9c334, #b8742b);
                background-image: -o-linear-gradient(top, #d9c334, #b8742b);
                background-image: linear-gradient(to bottom, #d9c334, #b8742b);
                -webkit-border-radius: 19;
                -moz-border-radius: 19;
                border-radius: 19px;
                -webkit-box-shadow: 4px 4px 16px #b04d02;
                -moz-box-shadow: 4px 4px 16px #b04d02;
                box-shadow: 4px 4px 16px #b04d02;
                font-family: Arial;
                color: #000000;
                font-size: 30px;
                padding: 6px 20px 9px 20px;
                text-decoration: none;
                border: none;
                &:hover {
                    background: #fcbc3c;
                    text-decoration: none;
                }
            }
        }
    }
    .contenedor-letrero{
        grid-column: 9/13;
        grid-row: 1/2;
        .letrero{
            .img-cartel{
                border-radius: 10px;
                width: 90%;
                opacity: .9;
                &:hover{
                    transform: scale(1.1);
                    transition: all 1.35s;
                }
            }
        }
    }
}

/* wave */



/* Decoracion */

.decoracion-cont{
    background-color: $color-colonial;
    padding-top: 130px;
    height: 150vh;
    @media screen and (max-width:768px) {
        height: 100%;
    }
    .decoracion{
        display: flex;
        justify-content: space-around;
    }
    .parrafo-decora{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .parrafo-deco{
            width: 500px;
            color: $color-amarillo;
            span{
                color: rgb(54, 218, 54);
            }
        }
    }
}

// Mixins - decoracion
/* Mixins */
@mixin decoracion($imagen, $colorlineas, $colortitulo,$bottomh3, $lefth3, $transformh3:translateX(-280%), $fonth3:2em) {
    color: $colortitulo;
    width: 250px;
    height: 400px;
    position: relative;
    background-image: $imagen;
    background-size: 100% 100%;
    overflow: hidden;
    &::before{
        position: absolute;
        content: "";
        top: 5px;
        left: 10px;
        width: 0;
        height: 2px;
        background-color: $colorlineas;
        transition: all .6s;
    }
    &::after{
        position: absolute;
        content: "";
        bottom: 5px;
        right: 10px;
        width: 0;
        height: 2px;
        background-color: $colorlineas;
        transition: all .6s;
    }
    &:hover{
        h3{
            transform: translateX(0%);
            transition: all .6s;
        }
        &::before, &::after{
            width: $hover-anchura;
        }
        transform: scale(.98);
        transition: all .6s;
    }
    h3{
        font-size: $fonth3;
        position: absolute;
        bottom:$bottomh3;
        left: $lefth3;
        transform: $transformh3;
    }
}
@mixin decoracionright($imagen, $colorlineas, $colortitulo,$toph3, $righth3) {
    color: $colortitulo;
    width: 250px;
    height: 400px;
    position: relative;
    background-image: $imagen;
    background-size: 100% 100%;
    overflow: hidden;
    &::before{
        position: absolute;
        content: "";
        top: 5px;
        left: 10px;
        width: 0;
        height: 2px;
        background-color: $colorlineas;
        transition: all .6s;
    }
    &::after{
        position: absolute;
        content: "";
        bottom: 5px;
        right: 10px;
        width: 0;
        height: 2px;
        background-color: $colorlineas;
        transition: all .6s;
    }
    &:hover{
        h3{
            transform: translateX(0%);
            transition: all .6s;
        }
        &::before, &::after{
            width: $hover-anchura;
        }
        transform: scale(.98);
        transition: all .6s;
    }
    h3{
        font-size: 2.2em;
        position: absolute;
        top:$toph3;
        right: $righth3;
        transform: translateX(-280%);
    }
}
.contenedor-decoracion1{
    @include decoracion (url(../imagenes/galerialluvia.jpg), $color-amarillo, $color-amarillo, 50px,150px)
}
.contenedor-decoracion2{
    @include decoracionright(url(../imagenes/rejaslindas.jpg),green ,green,12px, 20px )
}
.contenedor-decoracion3{
    @include decoracionright(url(../imagenes/entradamod.png),red ,red,60px,60px)
}
.contenedor-decoracion4{
    @include decoracion(url(../imagenes/atrapacuentos.jpg), #0aa6ac ,#0aa6ac,50px,156px, translateX(-450%), 2.5em)
}
.contenedor-decoracion5{
    @include decoracionright(url(../imagenes/adamantium.jpg),#b3147e ,#b3147e,200px,10px)
}

@media screen and (max-width: 1311px) {
    .contenedor-decoracion5{
        display: none;
    }
}
@media screen and (max-width: 1059px) {
    .contenedor-decoracion4{
        display: none;
    }
}
@media screen and (max-width: 808px) {
    .contenedor-decoracion3{
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .contenedor-decoracion2{
        display: none;
    }
}

/* Media de contenedor pasillo y cartel */

@media screen and (max-width:768px) {
    .contenedor-pasillo{
        display: block;
        padding-bottom: 20px;
        .contenedor-parrafo{
            margin: 10px 0;
        }
        .contenedor-imgpasillo{
            .pasillo{
                .img-pasillo{
                    margin: 0;
                    &:hover{
                        transform: scale(.9);
                        transition: .9s;
                    }
                }
            }
        }
    }
    .contenedor-cartel{
        display: block;
        padding-top: 20px;
        .contenedor-parrafoii{
            margin: 10px 0
        }
        .contenedor-letrero{
            .letrero{
                &:hover{
                    transform: scale(.95);
                    transition: .9s;
                }
            }
        }
    }
}


@media screen and (max-width:1024px) {
    .contenedor-pasillo{
        .contenedor-parrafo{
            .parrafo{
                font-size: 1.5em;
            }
            .contenedor-boton{
                font-size: 1.5em;
                .btn{
                    font-size: .8em;
                }
            }
        }
    }
    .contenedor-cartel{
        .contenedor-parrafoii{
            .parrafoii{
                font-size: 1.5em;
                grid-row: 1/2;
            }
            .contenedor-botonnos{
                grid-row: 2/3;
                font-size: 1.5em;
                .btn{
                    font-size:.8em ;
                }
            }
        }
    }
}
@media screen and (max-width:950px) {
    .contenedor-pasillo{
        .contenedor-imgpasillo{
            .pasillo{
                .img-pasillo{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        }
        .contenedor-parrafo{
            .parrafo{
                font-size: 1.2em;
            }
        }
    }
    .contenedor-cartel{
        .contenedor-parrafoii{
            .parrafoii{
                font-size: 1.2em;
            }
        }
        .contenedor-letrero{
            .letrero{
                .img-cartel{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:425px) {
    
    .contenedor-pasillo{
        .contenedor-imgpasillo{
            .pasillo{
                .img-pasillo{
                    margin-top: 20px;
                }
            }
        }
        .contenedor-parrafo{
            .parrafo{
                font-size: 1em;
                padding: 0;
            }
        }
    }
    .contenedor-cartel{
        .contenedor-parrafoii{
            .parrafoii{
                font-size: 1em;
            }
        }
    }
}
