
/* Algo de Historia... */
.contenedor-historia{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 55rem;
    background-color: bisque;
    background-image: url(../imagenes/parednaranja.jpg);
    .titulo-historia{
        grid-column: 5/9;
        grid-row: 1/2;
        width: 100%;
        font-size: 3rem;
        color: $color-titulo;
        text-align: center;
        padding: 20px 0;
    }
    .imagen-pasillo{
        grid-column: 1/4;
        grid-row: 2/3;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }
    .parrafo-historia{
        grid-column: 4/10;
        grid-row: 2/3;
        font-size: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .imagen-cartel{
        grid-column: 10/13;
        grid-row: 2/3;
        border-radius: 30px;
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }
}

/* Decoracion */

.decoracion{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    background-color: bisque;
    background-image: url(../imagenes/parednaranja.jpg);
    margin-top: 300px;
    .img-decoracion{
        grid-column: 1/13;
        grid-row: 1/2;
        width: 100%;
        height: 30rem;
        padding: 20px 0;
        margin: 20px 0;
    }
    .parrafo-decoracion{
        grid-column: 3/11;
        grid-row: 2/3;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    /* Algo de Historia */
    .contenedor-historia{
        display: inline-block;
        height: auto;
    }
    .contenedor-historia .titulo-historia{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-historia .imagen-cartel{
        display: none;
    }
    .contenedor-historia .imagen-pasillo{
        width: 80%;
        margin-left: 30px;
    }
    .contenedor-historia .parrafo-historia{
        font-size: 1.5em;
        padding: 0 20px;
    }

    /* DECORACION */
    .decoracion .img-decoracion{
        height: 50vh;
    }

}