/* Algo de Historia... */
h1{
    .galeria{
        color: $color-galeria;
    }
    .paseo{
        color: $color-paseo;
    }
    .colonial{
        color: $color-colonial;
    }
}
.contenedor-pasillo{
    background-image: url(../imagenes/fondoheader.jpg);
    background-position: bottom;
    display:  grid;
    grid-template-columns: repeat(12,1fr);
    .contenedor-imgpasillo{
        grid-column: 1/5;
        grid-row: 1/2;
        .pasillo{
            .img-pasillo{
                border-radius: 10px;
                opacity: .9;
                &:hover{
                    transform: scale(1.1);
                    transition: .9s;
                }
            }
        }
    }
    .contenedor-parrafo{
        display: grid;
        grid-template-rows: repeat(2,auto);
        grid-column: 6/12;
        grid-row: 1/2;
        .parrafo{
            font-size: 1.7em;
            color: whitesmoke;
            .lh-base{
                font-family:Arial, Helvetica, sans-serif;
            }
        }
        .contenedor-boton{
            font-size: 1.9em;
            color: yellow;
            .btn{
                font-size: 1em;
                &:hover{
                    transform: scale(1.1);
                    transition: .2s;
                }
            }
        }
    }
    
}

.contenedor-cartel{
    display:  grid;
    grid-template-columns: repeat(12,1fr);
    background-image: url(../imagenes/fondoheader.jpg);
    background-position: center;
    .contenedor-parrafoii{
        display: grid;
        grid-template-rows: repeat(2,auto);
        grid-column: 2/9;
        grid-row: 1/2;
        
        .parrafoii{
            font-size: 1.7em;
            grid-row: 1/2;
            color: whitesmoke;
            .lh-base{
                font-family:Arial, Helvetica, sans-serif;
            }
        }
        .contenedor-botonnos{
            grid-row: 2/3;
            font-size: 1.9em;
            color: yellow;
            .btn{
                font-size:1em ;
                &:hover{
                    transform: scale(1.1);
                    transition: .2s;
                }
            }
        }
    }
    .contenedor-letrero{
        grid-column: 9/13;
        grid-row: 1/2;
        .letrero{
            .img-cartel{
                border-radius: 10px;
                width: 85%;
                opacity: .9;
                &:hover{
                    transform: scale(1.1);
                    transition: .9s;
                }
            }
        }
    }
}

/* wave */



/* Decoracion */

.decoracion-cont{
    background-color: $color-colonial;
    padding-top: 130px;
    height: 150vh;
    .decoracion{
        display: flex;
        justify-content: space-around;
        .contenedor-decoracioni{
            color: $color-amarillo;
            width: 250px;
            height: 400px;
            position: relative;
            background-image: url(../imagenes/galerialluvia.jpg);
            overflow: hidden;
            &::before{
                position: absolute;
                content: "";
                top: 5px;
                left: 10px;
                width: 0;
                height: 2px;
                background-color: $color-amarillo;
                transition: all .6s;
            }
            &::after{
                position: absolute;
                content: "";
                bottom: 5px;
                right: 10px;
                width: 0;
                height: 2px;
                background-color: $color-amarillo;
                transition: all .6s;
            }
            &:hover{
                h3{
                    transform: translateX(0%);
                    transition: all .6s;
                }
                &::before, &::after{
                    width: $hover-anchura;
                }
                transform: scale(.98);
                transition: all .6s;
            }
            h3{
                font-size: 2em;
                position: absolute;
                bottom:50px;
                left: 156px;
                transform: translateX(-280%);
            }
        }
        .contenedor-decoracionii{
            color: green;
            width: 250px;
            height: 400px;
            position: relative;
            background-image: url(../imagenes/cactus.jpg);
            background-position: center;
            overflow: hidden;
            &::before{
                position: absolute;
                content: "";
                top: 5px;
                left: 10px;
                width: 0;
                height: 2px;
                background-color: green;
                transition: all .6s;
            }
            &::after{
                position: absolute;
                content: "";
                bottom: 5px;
                right: 10px;
                width: 0;
                height: 2px;
                background-color: green;
                transition: all .6s;
            }
            &:hover{
                h3, p{
                    transform: translateX(0%);
                    transition: all .6s;
                }
                &::before, &::after{
                    width: $hover-anchura;
                }
                transform: scale(.98);
                transition: all .6s;
            }
            h3{
                font-size: 2.3em;
                position: absolute;
                top: 13px;
                left: 70px;
                transform: translateX(-210%);
            }
            p{
                font-size: 1.4em;
                position: absolute;
                bottom:50px;
                left: 100px;
                transform: translateX(210%);
            }
        }
    }
    .contenedor-decoracioniii{
        color: $color-amarillo;
        width: 250px;
        height: 400px;
        position: relative;
        background-image: url(https://dummyimage.com/250x400/000/fff);
        overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            top: 5px;
            left: 10px;
            width: 0;
            height: 2px;
            background-color: $color-amarillo;
            transition: all .6s;
        }
        &::after{
            position: absolute;
            content: "";
            bottom: 5px;
            right: 10px;
            width: 0;
            height: 2px;
            background-color: $color-amarillo;
            transition: all .6s;
        }
        &:hover{
            h3, p{
                transform: translateX(0%);
                transition: all .6s;
            }
            &::before, &::after{
                width: $hover-anchura;
            }
            transform: scale(.98);
            transition: all .6s;
        }
        h3{
            font-size: 2em;
            position: absolute;
            top: 40px;
            left: 70px;
            transform: translateX(-210%);
        }
        p{
            font-size: 1.4em;
            position: absolute;
            bottom:50px;
            left: 100px;
            transform: translateX(210%);
        }
    }
    .contenedor-decoracioniiii{
        color: $color-amarillo;
        width: 250px;
        height: 400px;
        position: relative;
        background-image: url(https://dummyimage.com/250x400/000/fff);
        overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            top: 5px;
            left: 10px;
            width: 0;
            height: 2px;
            background-color: $color-amarillo;
            transition: all .6s;
        }
        &::after{
            position: absolute;
            content: "";
            bottom: 5px;
            right: 10px;
            width: 0;
            height: 2px;
            background-color: $color-amarillo;
            transition: all .6s;
        }
        &:hover{
            h3, p{
                transform: translateX(0%);
                transition: all .6s;
            }
            &::before, &::after{
                width: $hover-anchura;
            }
            transform: scale(.98);
            transition: all .6s;
        }
        h3{
            font-size: 2em;
            position: absolute;
            top: 40px;
            left: 70px;
            transform: translateX(-210%);
        }
        p{
            font-size: 1.4em;
            position: absolute;
            bottom:50px;
            left: 100px;
            transform: translateX(210%);
        }
    }
    .contenedor-decoracioniiiii{
        color: $color-amarillo;
        width: 250px;
        height: 400px;
        position: relative;
        background-image: url(https://dummyimage.com/250x400/000/fff);
        overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            top: 5px;
            left: 10px;
            width: 0;
            height: 2px;
            background-color: $color-amarillo;
            transition: all .6s;
        }
        &::after{
            position: absolute;
            content: "";
            bottom: 5px;
            right: 10px;
            width: 0;
            height: 2px;
            background-color: $color-amarillo;
            transition: all .6s;
        }
        &:hover{
            h3, p{
                transform: translateX(0%);
                transition: all .6s;
            }
            &::before, &::after{
                width: $hover-anchura;
            }
            transform: scale(.98);
            transition: all .6s;
        }
        h3{
            font-size: 2em;
            position: absolute;
            top: 40px;
            left: 70px;
            transform: translateX(-210%);
        }
        p{
            font-size: 1.4em;
            position: absolute;
            bottom:50px;
            left: 100px;
            transform: translateX(210%);
        }
    }
    .parrafo-decora{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .parrafo-deco{
            width: 500px;
            color: $color-amarillo;
            span{
                color: rgb(54, 218, 54);
            }
        }
    }
    @media screen and (max-width: 1311px) {
        .contenedor-decoracioniiiii{
            display: none;
        }
    }
    @media screen and (max-width: 1059px) {
        .contenedor-decoracioniiii{
            display: none;
        }
    }
    @media screen and (max-width: 808px) {
        .contenedor-decoracioniii{
            display: none;
        }
    }
    @media screen and (max-width: 550px) {
        .contenedor-decoracionii{
            display: none;
        }
    }
}


/* Media de contenedor pasillo y cartel */

@media screen and (max-width:768px) {
    .contenedor-pasillo{
        display: block;
    }
    .contenedor-cartel{
        display: block;
    }
}
@media screen and (max-width:1024px) {
    .contenedor-pasillo{
        .contenedor-parrafo{
            display: grid;
            grid-template-rows: repeat(2,auto);
            grid-column: 6/12;
            grid-row: 1/2;
            .parrafo{
                font-size: 1.5em;
            }
            .contenedor-boton{
                font-size: 1.5em;
                .btn{
                    font-size: .8em;
                }
            }
        }
    }
    .contenedor-cartel{
        .contenedor-parrafoii{
            display: grid;
            grid-template-rows: repeat(2,auto);
            grid-column: 2/9;
            grid-row: 1/2;
            
            .parrafoii{
                font-size: 1.5em;
                grid-row: 1/2;
            }
            .contenedor-botonnos{
                grid-row: 2/3;
                font-size: 1.5em;
                .btn{
                    font-size:.8em ;
                }
            }
        }
    }
}

@media screen and (max-width:425px) {
    .contenedor-pasillo{
        .contenedor-parrafo{
            .parrafo{
                font-size: 1em;
            }
        }
    }
    .contenedor-cartel{
        .contenedor-parrafoii{
            .parrafoii{
                font-size: 1em;
            }
        }
    }
}