.locales-carousel{
    height: 100%;

    .local-1{
        .container-fluid{
            width: 40%;
            background-image: url(../imagenes/fondoheader.jpg);
            @media screen and (max-width:576px) {
                width: 90%;
            }
            .subtitulo-local1{
                color: whitesmoke;
            }
        }
    }
    .local-2{
        .container-fluid{
            width: 40%;
            background-image: url(../imagenes/fondoheader.jpg);
            @media screen and (max-width:576px) {
                width: 90%;
            }
            .subtitulo-local2{
                color: whitesmoke;
            }
        }
    }
    .local-3{
        .container-fluid{
            width: 40%;
            background-image: url(../imagenes/fondoheader.jpg);
            @media screen and (max-width:576px) {
                width: 90%;
            }
            .subtitulo-local2{
                color: whitesmoke;
            }
        }
    }
}
