.locales-carousel{
    background: rgb(214,140,78);
    background: linear-gradient(0deg, rgba(214,140,78,1) 13%, rgba(229,178,93,1) 71%);
    height: 100%;

    .local-i{
        .container-fluid{
            width: 40%;
            background-image: url(../imagenes/fondoheader.jpg);
            @media screen and (max-width:576px) {
                width: 90%;
            }
            .subtitulo-local1{
                color: whitesmoke;
            }
        }
    }
    .local-ii{
        .container-fluid{
            width: 40%;
            background-image: url(../imagenes/fondoheader.jpg);
            @media screen and (max-width:576px) {
                width: 90%;
            }
            .subtitulo-local2{
                color: whitesmoke;
            }
        }
    }
}
