.cabeza{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $color-colonial;
    &:hover{
        background-image: url(../imagenes/fondoheader.jpg);
    }
    -webkit-box-shadow: -1px 15px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 15px 40px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 15px 40px -10px rgba(0,0,0,0.75);
    .navegador{
        grid-column-start: 1;
        grid-column-end: 13;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            .img-logo{
                margin: 0px 20px;
                width: 45%;
            }
        }
        /* boton */
        .boton-navegador{
            color: $color-amarillo;
            background: none;
            border: none;
            font-size: 40px;
            padding: 0 15px;
            display: none;
            cursor: pointer;
        }
        ul{
            margin: 15px 20px;
            li{
                display: inline-block;
                margin: 10px 20px;
                font-size: 1.4rem;
                list-style: none;
                position: relative;
                &::before{
                    content: "";
                    background: #FED766;
                    height: 3px;
                    width: 0%;
                    position: absolute;
                    left: 0%;
                    bottom: -10px;
                    transition: 0.3s ease-out;
                }
                &:hover::before{
                    width: 100%;
                }
                a{
                    text-decoration: none;
                    color: yellow;
                }
            }
        }
    }

}
@media screen and (max-width:768px) {
    .cabeza{
        height: 70px;
        position: sticky;
        top: 0;
        z-index: 1;
        .navegador{
            .link-logo{
                .img-logo{
                    width: 35%;
                    margin: 0 20px;
                }
            }
            .boton-navegador{
                display: block;
                padding-right: 50px;
            }
            .menu-lista{
                margin: 0;
                padding: 20px 0;
                position: fixed;
                top: 70px;
                left: 0;
                width: 100%;
                text-align: center;
                height: calc(100% - 70px);
                overflow-y: auto;
                left: 100%;
                transition: left .7s;
                background-image: url(../imagenes/parednaranja.jpg);
                color: $color-colonial;
                li{
                    display: block;
                    line-height: 50px;
                    &::before{
                        display: none;
                    }
                    a{
                        color: $color-colonial;
                        font-size: 1.3em;
                    }
                }
            }
            .menu-lista-visible{
                left: 0%;
            }
        }
    }
}
@media screen and (max-width:510px) {
    .cabeza{
        .navegador{
            .link-logo{
                justify-content: start;
            }
            .boton-navegador{
                display: block;
                padding-right: 20px;
            }
        }
    }
}